/* Essay */
.raw-essay-markdown {
    display: none;
}

body {
    font-family: 'Merriweather', serif;
    color: #3c3c3c;
}

p {
    line-height: 1.5em;
}


h1, 
h2, 
h3, 
h4, 
h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

@media (min-width: 768px) {
    .marketing {
        padding-top: 100px;
    }
}

form .form-control {
    border-radius: 0px;
}


.marketing .well {
    border-radius: 0px;
}

.btn-theme:hover {
    background-color: #1DE9B6
}

.front-page a {
    padding: 20px;
}

.btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.btn-theme {
    color: #1c1c1c;
    font-weight: 700;
    background-color: #64FFDA;
    border-bottom: 3px solid #00BFA5;
}

.btn-theme i {
    color: #fff;
}

.essay-list ul {
    list-style: none;
    padding-left: 0px;
    font-size: 1.3em;
}

.essay-list li {
    padding-bottom: 10px;
    text-transform: capitalize;
}

.project-div {
    margin-bottom: 50px;
}
