{{ define "contactPage" }}
<!doctype html>
<html lang="en">
    <head>
        {{ template "header" . }}
        <script src="/static/js/contact-app.js"></script>
    </head>
        
    <body>
        <div class="container marketing">
            <div class="row">
                <div class="col-md-6 col-md-offset-3" data-bind="ifnot: successfulSubmission">
                    <h1>Let's Work Together</h1>
                    <p class="lead">Tell me how I can help your business! I will contact you shortly to discuss the problems or goals you've identified and then we will work together on a solution that works for you.</p>
                    
                    <form class="form" action="/contact">
                        <div class="form-group" data-bind="css: { 'has-error': !isFormEmailValid() } ">
                            <input class="form-control" type="email" placeholder="what's your email?" name="email" data-bind="value: formEmail, valueUpdate: 'keyup'">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="what problem are you trying to solve?" name="content" data-bind="value: formContent"></textarea>
                        </div>
                        <div class="form-group">
                            <p data-bind="if: submissionErrorMsg" class="text-danger">
                                There was an error processing your request. Please make sure you've entered a valid email address.
                            </p>
                            <button class="btn btn-lg btn-theme" data-bind="click: validateAndSubmitContactForm" type="submit">
                                Send me your request!
                            </button>
                        </div>
                    </form>
                    
                </div>
                <div class="col-md-6 col-md-offset-3" data-bind="if: successfulSubmission">
                    <h1>Thank you!</h1>
                    <p class="lead">Your request has been emailed to me and I will respond to it shortly. I look forward to developing a productive relationship with you and your business!</p>
                    <p><em>-Quentin Donnellan</em></p>
                </div>
            </div>
        </div>
    </body>

</html>
{{ end }}
