{{ define "frontPage" }}
<!doctype html>
<html lang="en">
    <head>
        {{ template "header" . }}
    </head>
        
    <body>
        <div class="container marketing front-page">
            <div class="row">
                <div class="text-center">
                    <h1>Quentin Donnellan</h1>
                    <p class="lead">
                        Software Engineer, Former High School Teacher
                    </p>
                    <p class="lead">
                        <a href="/projects">Projects</a>
                        <a href="/essays">Essays</a>
                    </p>
                    
                </div>
            </div>
        </div>
    </body>

</html>
{{ end }}
